@import "tailwindcss";

.settings-section {
  @apply flex flex-col gap-4 sm:ml-2;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

.user-input {
  @apply resize-none rounded-lg border border-stone-300 bg-white px-2 py-1 shadow-sm shadow-stone-400 outline-none;
}

label {
  display: flex;
  gap: 10px;
  align-items: baseline;
  vertical-align: middle;
}

label > span {
  text-wrap: nowrap;
}

input[type="checkbox"] {
  vertical-align: middle;
}

button:not(:disabled) {
  cursor: pointer;
}

.tag-container {
  display: flex;
  gap: 4;
  align-items: center;
  @apply w-fit max-w-full max-sm:flex-col;
}

.settings-button {
  @apply flex w-fit items-center justify-center rounded-lg border-2 border-emerald-600 bg-emerald-500 px-2 py-1 text-white enabled:hover:text-black;
}

.eye-checkbox {
  cursor: pointer;
}

.eye-checkbox > input[type="checkbox"] {
  display: none;
}

.eye-checkbox:has(input[type="checkbox"]) > svg[name="openEye"] {
  display: none;
}

.eye-checkbox:has(input[type="checkbox"]:checked) > svg[name="openEye"] {
  display: block;
}

.eye-checkbox:has(input[type="checkbox"]:checked) > svg[name="closedEye"] {
  display: none;
}
