@import "tailwindcss";

.settings-section {
  @apply ml-2 flex flex-col gap-4;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.user-input {
  @apply resize-none rounded-lg border border-stone-300 bg-white px-2 py-1 shadow-sm shadow-stone-400 outline-none;
}

label {
  display: flex;
  gap: 10px;
  align-items: baseline;
  vertical-align: middle;
}

label > span {
  text-wrap: nowrap;
}

input[type="checkbox"] {
  vertical-align: middle;
}

button:not(:disabled) {
  cursor: pointer;
}
